[Desktop Entry]
Type=Application
Version=1.0
Name=Install Kyber OS
GenericName=Graphical Installer
Comment=Launch the Calamares graphical installer
Exec=/usr/bin/calamares
Icon=calamares
Terminal=false
Categories=System;
