[Desktop Entry]
Type=Application
Version=1.0
Name=Install Kyber OS
GenericName=Graphical Installer
Comment=Launch Kyber installer with custom options
Exec=/usr/local/bin/kyber-launcher
Icon=calamares
Terminal=false
Categories=System;
